[Unit]
Description=Spectre IDS Analyzer Service
After=spectre-capture.service

[Service]
Type=simple
WorkingDirectory=/opt/spectre-ids/spectre_IDS
ExecStart=/opt/spectre-ids/venv/bin/python spectre.py
Restart=always
RestartSec=5
User=root
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
